*{
    margin : 0;
    padding: 0;
    font-family : 'poppins', 'san-serif';
    background-color: #181a3d;
}
nav ul{

  display: inline-flex;
  margin : 20px;
  color: white;
  list-style-type: none; 
}
nav ul li{
  margin-left: 10px;
  padding: 20px;
}
a{
  text-decoration: none;
  color: white;
}
nav ul input{
  margin-left: 20px;
  width: 50vh;
  color: white;
  font-weight: 900;
  text-align: left;
  border-radius: 20px;
  border-color: white;
  border-style: groove;
  padding: 10px;
}
.content h1{
  margin-left: 20px;
  font-size: 100px;
  margin-bottom: 10px;
}
.content h1 span{
  color: fuchsia;
}
.content p{
  color: white;
  font-size: 15px;
  margin: 0px 5px 10px 200px;
}
.content .btn{

  display: block;
  width: 50%;
  margin-left: 100px;
  text-align: center;
  background: #ffbe0b;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 100px;
}
.content .btn:hover{
  background-color: #ffbe0b;
  border: solid #ffbe0b;
}
.converter{
  color: white;
  font-size: 30px;
  padding: 10px;
  margin: 50px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(221, 221, 221);
} 
input[type=text] {
  width: 60vw;
  margin: auto;
  margin-top: 10px;
  display: block;
  font-size: 1rem;
  background: none;
  line-height: 1.5;
  padding: 12px;
  border-radius: 6px;
  color: white;
  border: 1px solid rgb(221, 221, 221);
}

#select-field {
  color: white;
  line-height: 3;
  display: flex;
  justify-content:center;
}

select{ 
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
  width: 30vw;
  display: auto;
  font-size: 1rem;
  padding: 12px;
  background: rgb(150, 161, 170);
  border-radius: 6px;
  color: rgb(234, 236, 243);
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
}
#fromCurrency:hover{
  background-color: #da0505b3;
  border: 2px solid #da0505b3;
}
#toCurrency:hover{
  background-color: #16d119b3;
  border: 2px solid #16d119b3;
}
.primary-btn {
  padding: 10px;
  margin-bottom: 30px;
  width: 40vw;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background: #e58688;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
.primary-btn:hover {
  background-color: #df5557b3;
  border: 2px solid #df5557b3;
}
#result {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.tradingview-widget-copyright{
  display: none;
}
.tradingview-widget-container{
  
  margin-right: 50px;
  margin-left: 30px;
}
@media only screen and (max-width:780px) {
  .container {
      width: 340px;
      height: 430px;
  }
