*{
    margin : 0;
    padding: 0;
    box-sizing : border-box;
    font-family : 'poppins', 'san-serif';
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(/Users/ashyboi/Desktop/Images/Backgroundd.jpeg);
    background-position: center;
    background-size: cover;
    padding: 0 75;
    color: #fff;
}
nav{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: centre;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav ul{
    flex: 1;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
.content{
    margin-top: 12% 
}
.content h1{
    font-size: 88px;
    margin-bottom: 15px;
}
.content h1 span{
    color: fuchsia;
}
.content p{
    line-height: 22px;
    font-size: 14px;

}
.content .btn{

    display: block;
    text-align: center;
    background: #ffbe0b;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 100px;
    
    
}
.converter{ 
  width: 370px;
  padding: 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  
}
.converter header{
  color: black;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.converter form{
  margin: 40px 0 20px 0;
}
form :where(input, select, button){
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}
form p{
  font-size: 18px;
  margin-bottom: 5px;
}
form input{
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}
form input:focus{
  padding: 0 14px;
  border: 2px solid #675AFE;
}
form .drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .select-box{
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}
.select-box img{
  max-width: 21px;
}
.select-box select{
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}
.select-box select::-webkit-scrollbar{
  width: 8px;
}
.select-box select::-webkit-scrollbar-track{
  background: #fff;
}
.select-box select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.drop-list .icon{
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}
form .exchange-rate{
  font-size: 17px;
  margin: 20px 0 30px;
}
form button{
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: #675AFE;
  transition: 0.3s ease;
}
form button:hover{
  background: #fecc34;
}